#Timer {
	text-align: center;
	position: absolute;
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: black;
	z-index: 1;
	font-size: 100px;
}

#Fullpage {
	background-color: green;
}

#tc { 
	text-align: center;
	z-index: 2;
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: black;
	font-size: 72px;
}

#snow {
	z-index: 3
  height: 1080px;
  width: 1920px;

}

