#Timer {
	font-family: 'Helvetica', 'Arial', sans-serif;
	text-align: center;
	color: black;
	font-size: 72px;
	z-index: 100;
}

#Fullpage {
	background-color: lightgreen;
	 height: auto;
 	 width: auto;

}

#tc { 
	text-align: center;
	z-index: 2;
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: black;
	font-size: 72px;
}

#snow {
	position: absolute;
  	height: 100%;
  	width: 100%;
  	z-index: -1;

}

#tree1 {
	position: absolute;
	left: 500px;
  	height: 100%;
  	width: 100%;
  	z-index: 1;
  	transform: scale(0.7);

}

#tree2 {
	position: absolute;
	top: 95px;
	left: 400px;
  	height: 100%;
  	width: 100%;
  	z-index: 1;
  	transform: scale(0.5);

}