#Timer {
	text-align: center;
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: black;
	font-size: 100px;
}

#Fullpage {
	background-color: green;
}

#tc { 
	text-align: center;
	font-family: 'Helvetica', 'Arial', sans-serif;
	color: black;
	font-size: 72px;
}